@font-face {
    font-family: Source Sans;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

body {
    font-family: Source Sans;
}

.navbar-default{
	background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #C93F3F;
    color: white;
} 

#BukaUsaha{
	background-image: url("../../IMG-20160910-WA0013.jpg");	
	background-position: 10% 40%;
	/*background-repeat: no-repeat;*/
	text-align: center;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
	font-size: 4em;
}
	
#SiapaLB{
	padding-top: 1.5em;
	padding-bottom: 2em;
	text-align: center;
}

.header-LB{
	font-weight: bold;
	font-size: 2em;
}

.content-LB{
	margin-top: 1em;
	font-size: 1.2em;
	font-weight: normal;
}

#KapanSaat{
	padding-top: 1.5em;
	padding-bottom: 2em;
	text-align: center;
	background-color: #E0D7D8;
}

#Sekarang{
	font-weight: bold;
	font-size: 4em;		
}

#HanyaLB{
	padding-top: 1.5em;
	padding-bottom: 2em;
	text-align: center;
}

#content-HanyaLB{
	font-size: 1em;
	font-weight: normal;
}

.bold{
	font-weight: bold;
}

.med{
	font-size: 1.2em;
}

.space{
	padding-bottom: 1em;
}	

.red{
	background-color: red;
}

#PaketLB{
	padding-top: 1.5em;
	padding-bottom: 2em;
	text-align: left;
	background-color: #D0DCD0;
}

.content-PaketLB{
	background-image: url("../../mesincuci.jpg");	
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	padding: 2em;
	color: white;
	height: 280px;
}

.header-PaketLB{
	padding-top: 2em;
	font-weight: bold;
	font-size: 2em;	
	padding-bottom: 2em;
}

.content-PaketLB-text{
	font-size: 1em;
	font-weight: normal;
	padding-bottom: 2em;
}

.content-PaketLB-button{
	font-size: 1em;
}

#MengapaLB{
	padding-top: 1.5em;
	padding-bottom: 2em;
	text-align: center;
	background-image: url("../../mesincuci.jpg");	
	color: white;
}

.content-LB-button{
	font-size: 1em;
	padding-top: 2em;
}

#SiapLB{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.left{
	padding-left: 1em;
}

#ContactLB{
	background-color: #FA2A2A;
	font-size: 1.2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 4em;
}